<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>豆瓣一刻</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script src="./scripts/app.js"></script>
	<script src="./scripts/controllers.js"></script>
	<script src="./bower_components/angular-route/angular-route.js"></script>
	<link rel="stylesheet" href="./public/less/main.css">
</head>
<body ng-app="yike">
	<div class="viewport">
		<!-- 侧边导航 -->
		<!-- <div class="navs" ng-class="{collapse:left}"> -->
		<div ng-class="{navs:true,collapse:left}">
			<dl ng-controller="navs">
				<!-- {{navs}} -->
				<dt class="login">
					<div class="avatar">
						<img src="./public/images/avatar.png" alt="">
					</div>
					<span>登录</span>
				</dt>
				num:{{num}}
				<dd ng-class="{active:$index==num}" ng-repeat = "nav in navs" >
					<a href="{{nav.link}}" class="{{nav.icon}}" ng-click="toggle();">
						<span>{{nav.text}}</span>
					</a>
				</dd>
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header:true,collapse:left}" ng-click="toggle();">
				<a href="javascript:;" class="menu icon-menu"></a>
				<h2>{{title}}</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div ng-class="{body:true,collapse:left}">
				<div ng-show="show">
					<!-- 动态加载图,获取数据时显示,拿到数据不显示 -->
					<img src="./public/images/loading.gif">
				</div>
				<div ng-view>

				</div>
			</div>
		</div>
	</div>
	<!-- <script src="./libs/toggle.js"></script> -->

</body>

</html>	